-r requirements-release.in

build>=1.5,<2
mypy>=2.3,<3
pip>=25,<26  # pip-tools 7.6 is not compatible with pip 26's resolver API.
pip-tools>=7.6,<8
pytest>=9.1,<10
ruff>=0.16,<1
types-jsonschema>=4.25,<5
